* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 184, 184);
  width: 100%;
  height: 100vh;
}
.container .form_container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 60%;
}
.container .form_container #form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.container .form_container #form .form_input {
  display: flex;
  flex-direction: column;
}
.container .form_container #form .form_input label {
  font-size: 1.4em;
  color: rgb(40, 32, 32);
}
.container .form_container #form .form_input input {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(87, 85, 85);
}
.container .form_container #form .form_input .error {
  color: red;
  padding: 0px 5px;
  font-size: 0.9em;
}
.container .form_container #form .form_input.error input {
  border: 2px solid red;
}
.container .form_container #form .form_input.success input {
  border: 2px solid rgb(22, 196, 10);
}
.container .form_container #form #submit_btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  background-color: rgb(16, 136, 191);
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  font-size: 2em;
  font-weight: 900;
}